<section class="relative h-screen bg-cover bg-center flex items-center"
style="background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
<div class="absolute inset-0 bg-gradient-to-r from-blue-900 to-blue-600 opacity-90"></div>
<div
  class="relative container mx-auto text-white text-center px-4 flex flex-col md:flex-row items-center justify-center space-y-8 md:space-y-0 md:space-x-8">
  <div class="md:w-1/2 mb-6 md:mb-0">
    <h1 class="text-6xl font-extrabold mb-4 leading-tight hero-text">Welcome to My Portfolio</h1>
    <p class="text-xl mb-4 max-w-2xl mx-auto">
      Hi, I'm Utsav Kaneriya, a 19-year-old student at Dharmsinh Desai University.
      I have a passion for learning and problem-solving, particularly in Web Development,
      User Experience (UX) Design, Mobile App Development, Database Design and Web Services Development.
    </p>
    <a href="./components/projects.html"
      class="bg-white hover:bg-gray-200 text-blue-700 font-semibold py-4 px-8 rounded-lg shadow-lg transition duration-300 text-lg">View
      My Work</a>
  </div>
  <div class="md:w-1/2 pl-32">
    <img src="./src/images/Utsav.jpg" alt="Utsav Kaneriya"
      class="rounded-full shadow-lg mx-auto md:mx-0  md:ml-4 h-64 w-64 object-cover" />
  </div>
</div>
</section>